body {
  /* background-image: url(background.png);
  background-size: 700px; */
  background: #d1f1ff;
}

.header-top {
}

.close {
  color: white !important;
}

.close:hover {
  cursor: pointer;
}

span:hover {
  color: white;
}

.img-logo {
}

.scroll-line {
  background: #7f381e !important;
}

.footer-bottom {
  color: #07550a !important;
}

.center {
  color: #07550a !important;
}

.announcements-btns{
}

.btn {
  background: #07550a !important;
}

.btn:hover {
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem #07550a;
}

.btn:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem #90110d;
}

.btn:active {
  background: #90110d;
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem #90110d;
}

.btn:focus {
  background: #90110d !important;
  border: solid 2px #90110d !important;
}

.btn:active {
  background: #90110d !important;
  border: solid 2px #90110d !important;
}

.remove {
}

hr {
  border-color: #07550a;
}

.navbar-nav>li {
}

.navbar {
}

.bg-light {
  background-color: #8e1313 !important;
}

.form-inline .form-control {
}

.card-container {
  /* display: none; */
}

.card {
}

.card-header {
  border: solid 0.15rem #062b04 !important;
}

.card-body {
  background: whitesmoke;
  border: solid 0.15rem grey;
  border-top: none;
  border-radius: 0.5rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

@media only screen and (max-width: 991px) {
  .navbar {
  }
  .navbar-nav>li {
  }
  .search-box {
  }
  .but {
  }
}

.text-center {
}

.card-header {
  background-color: #07550a !important;
  color: white;
}

.modal-header {
  background-color: #07550a !important;
  color: white;
}

.close {
  color: white;
}

.close:hover {
  color: gray;
}

.navbar-toggler {
  background-color: white;
}

.navbar-toggler2 {
}

.navbar-toggler:focus, .navbar-toggler:hover {
}

option {
  background: white;
}

#searchbar::placeholder {
  text-align: left;
  color: #495057;
}

#searchbar {
  color: #495057;
}

.picture {
}

.previous {
  background-color: transparent;
  color: grey;
}

.previous:hover {
  color: grey;
}

.file-upload {}

.add_announcement_date {
}

.drag {
}

/* The switch - the box around the slider */

.switch {
}

/* Hide default HTML checkbox */

.switch input {
}

/* The slider */

.slider {
  background-color: #ccc;
  color: white;
}

.slider:before {
  background-color: white;
}

input:checked+.slider {
  background-color: #90110d;
}

input:focus+.slider {}

input:checked+.slider:before {
}

/* Rounded sliders */

.slider.round {
}

.slider.round:before {
}

.dot{
  display: none;
  /* width:10px;
  max-width: 10px;
  height:10px;
  max-height: 10px;
  position:absolute;
  background-size: cover;
  top: 0;
  background: url('fallingLeaves/fallingLeaf.png');
  background-size: 100% 100%; */
}

.setting-label{
}

input#settings-bg-color{
}

table#settings-table{
}

table#settings-table td{
}

table#settings td:nth-child(even){
}

@media only screen and (max-width: 991px) {
  .navbar {
  }
  .navbar-nav>li {
  }
  .search-box {
  }
  .picture {
  }
  .drag {
  }
}

img::selection{
  background: transparent;
}

br::selection{
  background: transparent;
}

::selection{
  background: #90110db5;
  color: white;
}
