body {
  /* background-image: url(background.png);
  background-size: 700px; */
  background: rgb(255, 255, 255);
}

.sticky-top {
  z-index: 1000;
}

.header-top {
  position: relative;
  /*background: rgb(255, 255, 255);*/
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 125px;
}

.close {
  color: white !important;
}

.close:hover {
  cursor: pointer;
}

span:hover {
  color: white;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.scroll-line {
  height: 5px;
  background: #112951;
  width: 0%;
  clear: both;
}

.footer-bottom {
  color: #173668;
  font-size: 15px;
}

.center {
  color: #173668;
  text-align: center;
}

.btn {
  background: #173668 !important;
}

.btn:hover {
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem #173668;
}

.btn:focus{
  box-shadow: none !important;
}

.btn:active {
  background: #90110d !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  /* box-shadow: 0 0 0 0.1rem #b9532d !important; */
}

.remove {
  display: inline;
}

hr {
  border-color: #173668;
  display: block !important;
}

.navbar-nav>li {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  height: 50px;
}

.bg-light {
  background-color: #8e1313 !important;
}

.form-inline .form-control {
  width: 100%;
}

.card-container {
  /* display: none; */
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.card-header {
  border: solid 0.15rem #0d2243;
  border-radius: 0.5rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: none;
}

.card-body {
  background: whitesmoke;
  border: solid 0.15rem grey;
  border-top: none;
  border-radius: 0.5rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

@media only screen and (max-width: 991px) {
  .navbar {
    height: auto;
  }
  .navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
  }
  .search-box {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .but {
    width: -webkit-fill-available;
  }
}

.text-center {
  padding-bottom: 15px;
}

.card-header {
  background-color: #173668;
  color: white;
}

.modal-header {
  background-color: #173668;
  color: white;
}

.close {
  color: white;
}

.close:hover {
  color: gray;
}

.navbar-toggler {
  background-color: white;
}

.navbar-toggler2 {
  padding: 0.55rem 0.675rem !important;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  outline: none;
}

option {
  -webkit-appearance: button;
  -moz-appearance: button;
  background: white;
}

.highlight {
  background: yellow !important;
}

#searchbar::placeholder {
  text-align: left;
  color: #495057;
}

#searchbar {
  text-align: left;
  color: #495057;
}

.picture {
  width: auto;
  height: auto;
  max-width: 100% !important;
  max-height: 450px !important;
}

.previous {
  width: 1.5em !important;
  height: 1.5em !important;
  vertical-align: middle;
  position: relative;
  text-decoration: none !important;
  /* display: inline-block !important; */
  padding: .25rem .75rem;
  margin: 0;
  background-color: transparent;
  color: grey;
}

.previous:hover {
  color: grey;
}

.file-upload {}

.add_announcement_date {
  overflow-x: hidden !important;
  word-wrap: break-word !important;
  height: auto !important;
}

.drag {
  display: none;
  width: 1.25%;
  height: 1.25%;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

input:checked+.slider {
  background-color: #90110d;
}

input:focus+.slider {}

input:checked+.slider:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
  padding-top: 4px;
  font-size: 0.5rem;
  padding-left: 30%;
  padding-top: 10%;
  vertical-align: middle;
}

.slider.round:before {
  border-radius: 50%;
}

.setting-label{
  /* padding-left: 0.5vw; */
  padding-bottom: 5px;
  text-align: left;
}

input[type='color']{
  width: 100px;
  height: 34px;
}

ul.settings-list{
  list-style: none;
}

ul.settings-list li{
  padding-left: 2vw;
  display: inline-block;
}

@media only screen and (max-width: 991px) {
  .navbar {
    height: auto;
  }
  .navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
  }
  .search-box {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .picture {
    max-width: -webkit-fill-available;
  }
  .drag {
    display: none;
  }
}

br::selection{
  background: transparent;
}

img::selection{
  background: transparent;
}

::selection{
  background: #90110db5;
  color: white;
}
